Repository DocRoadMap-Team/DocRoadMap, pull requests merged in 2025-06, with the labels that each got.

#183 Feat/extension/connect online backend
  frontend-extension/.gitignore
  frontend-extension/package.json
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.tsx
  frontend-extension/src/content/components/Calendar/calendar.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
Labels: bug, Front End Extension

#179 feat(Unit Test Backend): Adding Unit Test for the backend
  .github/workflows/backend.yml
  backend/src/ai/ai.module.ts
  backend/src/ai/ai.service.ts
  backend/src/ai_history/ai_history.controller.spec.ts
  backend/src/ai_history/ai_history.module.ts
  backend/src/ai_history/ai_history.service.spec.ts
  backend/src/ai_history/ai_history.service.ts
  backend/src/ai_history/entities/ai_history.entity.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.guard.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/list_administrative_process/list_administrative_process.controller.spec.ts
  backend/src/list_administrative_process/list_administrative_process.service.spec.ts
  backend/src/list_administrative_process/list_administrative_process.service.ts
  backend/src/process/process.controller.spec.ts
  backend/src/process/process.controller.ts
  backend/src/process/process.module.ts
  backend/src/process/process.service.spec.ts
  backend/src/steps/steps.controller.spec.ts
  backend/src/steps/steps.controller.ts
  backend/src/steps/steps.module.ts
  backend/src/steps/steps.service.spec.ts
  backend/src/users/dto/user-response.dto.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
Labels: Backend, DevOps, Testing

#185 feat(tree): refacto design and link in the right place the component …
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/decisionTree.tsx
  mobile/app/(tabs)/home.tsx
  mobile/components/card/CreateFromTree.tsx
  mobile/components/chat/DecisionTreeInterface.tsx
Labels: Front End Mobile, Improvement

#192 Merge Decision tree last update to front end mobile
  mobile/app/(tabs)/decisionTree.tsx
  mobile/components/chat/DecisionTreeInterface.tsx
  mobile/package.json
Labels: Front End Mobile, Improvement

#194 Merge Frontend mobile into Dev branch
  .github/workflows/mobile.yaml
  mobile/.gitignore
  mobile/Mobile.md
  mobile/app.json
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/calendar.tsx
  mobile/app/(tabs)/connexion.tsx
  mobile/app/(tabs)/decisionTree.tsx
  mobile/app/(tabs)/home.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/app/_layout.tsx
  mobile/assets/images/docroadmap_logo.jpg
  mobile/components/card/CardDemarche.tsx
  mobile/components/card/CreateFromTree.tsx
  mobile/components/chat/DecisionTreeInterface.tsx
  mobile/dockerfile
  mobile/eas.json
  mobile/locales/decision-tree/decisionTree.json
  mobile/package.json
  mobile/tsconfig.json
Labels: enhancement, Front End Mobile, Feature

#196 Pull Request from Frontend-extension branch into dev branch
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.tsx
  frontend-extension/src/content/components/Calendar/calendar.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
Labels: Front End Extension

#199 feat(Email Confirmation: Adding confirmation by email
  backend/assets/docroadmap.png
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/main.ts
  backend/src/users/dto/update-user.dto.ts
  backend/templates/confirm-email.hbs
  backend/templates/status-confirm-email.hbs
  docker-compose.yml
Labels: Backend, Feature

#205 Frontend extension
  frontend-extension/index.html
  frontend-extension/newtab.html
  frontend-extension/package.json
  frontend-extension/public/assets/England.png
  frontend-extension/public/assets/France.png
  frontend-extension/public/assets/Spain.png
  frontend-extension/public/manifest.json
  frontend-extension/src/(site)/Connexion/login/Login.test.tsx
  frontend-extension/src/(site)/Connexion/login/login.css
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.css
  frontend-extension/src/(site)/Connexion/register/register.test.tsx
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/Connexion/signup/signup.css
  frontend-extension/src/(site)/Connexion/signup/signup.test.tsx
  frontend-extension/src/(site)/Connexion/signup/signup.tsx
  frontend-extension/src/(site)/Connexion/signupconfirm/signupConfirm.css
  frontend-extension/src/(site)/Connexion/signupconfirm/signupConfirm.test.tsx
  frontend-extension/src/(site)/Connexion/signupconfirm/signupConfirm.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.test.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.css
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.css
  frontend-extension/src/(site)/DocRoadMap/profile/profile.tsx
  frontend-extension/src/App.css
  frontend-extension/src/App.tsx
  frontend-extension/src/Home.css
  frontend-extension/src/Home.test.tsx
  frontend-extension/src/Home.tsx
  frontend-extension/src/content/InjectedComponent.tsx
  frontend-extension/src/content/components/Calendar/calendar.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/DecisionTree.test.tsx
  frontend-extension/src/content/components/roadmapCreation/decisionTree.json
  frontend-extension/src/content/components/roadmapCreation/decisionTree.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/content/content.tsx
  frontend-extension/src/index.css
  frontend-extension/src/locales/en/translation.json
  frontend-extension/src/locales/es/translation.json
  frontend-extension/src/locales/fr/translation.json
Labels: enhancement, Backend, Front End Extension, Feature

#201 Feat/mobile/test to front end mobile
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/connexion.tsx
  mobile/app/(tabs)/process.tsx
  mobile/app/(tabs)/steps.tsx
  mobile/jest.setup.js
  mobile/package.json
  mobile/tests/Calendar.test.tsx
  mobile/tests/CardDemarche.test.tsx
  mobile/tests/Connexion.test.tsx
  mobile/tests/Profile.test.tsx
  mobile/tests/Register.test.tsx
  mobile/tests/Settings.test.tsx
  mobile/tests/TreeInterface.test.tsx
Labels: Improvement

#200 Feat/mobile/language
  mobile/app/(tabs)/calendar.tsx
  mobile/app/(tabs)/decisionTree.tsx
  mobile/app/(tabs)/home.tsx
  mobile/components/card/CardDemarche.tsx
  mobile/components/card/CreateFromTree.tsx
  mobile/locales/eng/translation.json
  mobile/locales/fr/translation.json
  mobile/locales/spanish/translation.json
Labels: Improvement

#208 Feat/mobile/language to front end mobile
  mobile/components/card/CreateFromTree.tsx
  mobile/locales/eng/translation.json
  mobile/locales/fr/translation.json
  mobile/locales/spanish/translation.json
Labels: Improvement

#207 Frontend mobile to dev
  .github/workflows/mobile.yaml
  mobile/Mobile_APK_ENG.md
  mobile/Mobile_APK_FR.md
  mobile/Mobile_FR
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/calendar.tsx
  mobile/app/(tabs)/connexion.tsx
  mobile/app/(tabs)/decisionTree.tsx
  mobile/app/(tabs)/emailConfirmation.tsx
  mobile/app/(tabs)/forgottenPassword.tsx
  mobile/app/(tabs)/home.tsx
  mobile/app/(tabs)/process.tsx
  mobile/app/(tabs)/steps.tsx
  mobile/components/card/CardDemarche.tsx
  mobile/components/card/CreateFromTree.tsx
  mobile/jest.setup.js
  mobile/locales/decision-tree/decisionTree.json
  mobile/locales/eng/translation.json
  mobile/locales/fr/translation.json
  mobile/locales/spanish/translation.json
  mobile/package.json
  mobile/tests/Calendar.test.tsx
  mobile/tests/CardDemarche.test.tsx
  mobile/tests/Connexion.test.tsx
  mobile/tests/Profile.test.tsx
  mobile/tests/Register.test.tsx
  mobile/tests/Settings.test.tsx
  mobile/tests/TreeInterface.test.tsx
Labels: Front End Mobile

#224 Feat/extension/login register update
  frontend-extension/src/(site)/Connexion/login/login.css
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/signup/signup.css
  frontend-extension/src/(site)/Connexion/signup/signup.tsx
  frontend-extension/src/(site)/Connexion/signupconfirm/signupConfirm.css
  frontend-extension/src/(site)/Connexion/signupconfirm/signupConfirm.tsx
  frontend-extension/src/locales/en/translation.json
  frontend-extension/src/locales/es/translation.json
  frontend-extension/src/locales/fr/translation.json
Labels: Front End Extension, Feature

#223 Feat/extension/language implementation
  frontend-extension/src/i18n.ts
Labels: Front End Extension
