Repository DocRoadMap-Team/DocRoadMap, pull requests merged in 2025-07, with the labels that each got.

#227 fix(Ai History): Create 2 different request to fix the problem (first request returned only one conversation)
  backend/src/ai_history/ai_history.controller.spec.ts
  backend/src/ai_history/ai_history.controller.ts
  backend/src/ai_history/ai_history.module.ts
  backend/src/ai_history/ai_history.service.spec.ts
  backend/src/ai_history/ai_history.service.ts
  backend/src/ai_history/dto/ai_history.response.dto.ts
Labels: bug, Backend, IA

#230 feat(ALT Image with AI): Adding route to create description of image with AI
  backend/src/ai/ai.controller.ts
  backend/src/ai/ai.service.ts
  backend/src/ai/dto/send-query-img.dto.ts
Labels: enhancement, Backend, IA

#231 fix(Build): Build only the database and the backend and manage extension in the Database
  deploy/deploy.sh
Labels: bug, Improvement, DevOps

#243 Merge backend into dev
  backend/src/ai/ai.service.ts
Labels: enhancement, Backend, IA

#249 Feat/mobile/design
  mobile/app/(tabs)/calendar.tsx
  mobile/app/(tabs)/connexion.tsx
  mobile/app/(tabs)/decisionTree.tsx
  mobile/app/(tabs)/editRoadmap.tsx
  mobile/app/(tabs)/home.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/register.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/card/CardDemarche.tsx
  mobile/components/card/CreateFromTree.tsx
  mobile/components/chat/ChatInterface.tsx
  mobile/constants/Request.ts
  mobile/constants/Swagger.ts
  mobile/locales/eng/decisionTree.json
  mobile/locales/eng/translation.json
  mobile/locales/fr/decisionTree.json
  mobile/locales/fr/translation.json
  mobile/locales/spanish/decisionTree.json
  mobile/locales/spanish/translation.json
Labels: enhancement, Front End Mobile

#246 fix(status and alt): Keep status and fix alt
  backend/README.md
  backend/src/ai/ai.service.ts
Labels: bug, Backend, IA

#248 Pull Request from privacy into frontend-extension
  .github/workflows/static.yml
  privacy-fr.html
  privacy.html
Labels: Front End Extension

#250 pull request from accessibility-v2 into frontend-extension
  frontend-extension/src/content/components/Accessibility/accessibilityUtils.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.tsx
  frontend-extension/src/content/components/ViewRoadmap/ModifyRoadmapChat.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapAdvanced.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/DecisionTreeComponents/OptionsColumn.tsx
  frontend-extension/src/content/components/roadmapCreation/decisionTree.tsx
Labels: Front End Extension

#252 Pull request from Frontend extension into dev branch
  .github/workflows/static.yml
  frontend-extension/__mocks__/fileMock.ts
  frontend-extension/jest.config.js
  frontend-extension/jest.setup.ts
  frontend-extension/public/manifest.json
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/signup/signup.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.tsx
  frontend-extension/src/Home.tsx
  frontend-extension/src/content/InjectedComponent.tsx
  frontend-extension/src/content/components/Accessibility/AccessibilityWindow.tsx
  frontend-extension/src/content/components/Accessibility/ContrastAdjuster.tsx
  frontend-extension/src/content/components/Accessibility/CorrectAlts.tsx
  frontend-extension/src/content/components/Accessibility/UseAccessibilityPersistance.tsx
  frontend-extension/src/content/components/Accessibility/accessibilityUtils.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.tsx
  frontend-extension/src/content/components/ViewRoadmap/ModifyRoadmapChat.tsx
  frontend-extension/src/content/components/ViewRoadmap/RoadmapView.spec.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapAdvanced.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/DecisionTreeComponents/ChatMessageBubble.tsx
  frontend-extension/src/content/components/roadmapCreation/DecisionTreeComponents/Header.tsx
  frontend-extension/src/content/components/roadmapCreation/DecisionTreeComponents/OptionsColumn.tsx
  frontend-extension/src/content/components/roadmapCreation/decisionTree.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/content/utils/Header.tsx
  frontend-extension/src/locales/en/translation.json
  frontend-extension/src/locales/es/translation.json
  frontend-extension/src/locales/fr/translation.json
  privacy-fr.html
  privacy.html
Labels: Front End Extension

#253 Pull Request from frontend-mobile into dev branch
  mobile/Mobile.md
  mobile/Mobile_FR
  mobile/Mobile_FR.md
  mobile/README.md
  mobile/app/(tabs)/calendar.tsx
  mobile/app/(tabs)/connexion.tsx
  mobile/app/(tabs)/decisionTree.tsx
  mobile/app/(tabs)/editRoadmap.tsx
  mobile/app/(tabs)/home.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/register.tsx
  mobile/app/(tabs)/settings.tsx
  mobile/components/card/CardDemarche.tsx
  mobile/components/card/CreateFromTree.tsx
  mobile/components/chat/ChatInterface.tsx
  mobile/constants/Request.ts
  mobile/constants/Swagger.ts
  mobile/locales/eng/decisionTree.json
  mobile/locales/eng/translation.json
  mobile/locales/fr/decisionTree.json
  mobile/locales/fr/translation.json
  mobile/locales/spanish/decisionTree.json
  mobile/locales/spanish/translation.json
  mobile/package.json
  mobile/tests/Profile.test.tsx
  mobile/tests/Register.test.tsx
  mobile/tests/TreeInterface.test.tsx
Labels: Front End Mobile

#257 Pull request from Feat/extension/clean design
  frontend-extension/src/content/components/Accessibility/AccessibilityButton.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapAdvanced.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/DecisionTreeComponents/OptionsColumn.tsx
  frontend-extension/src/content/components/roadmapCreation/decisionTree.tsx
Labels: Front End Extension
