Repository DocRoadMap-Team/DocRoadMap, pull requests merged in 2025-04, with the labels that each got.

#115 Pull request from frontend-extension branch into dev branch
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.css
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.css
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.tsx
  frontend-extension/src/(site)/Settings/Menu/settingsMenu.tsx
Labels: enhancement, Front End Extension

#114 Pull Request from dev branch into main branch
  backend/package.json
  backend/src/ai/ai.controller.ts
  backend/src/ai/ai.service.ts
  backend/src/ai/dto/send-query.dto.ts
  docker-compose.yml
  frontend-extension/.babelrc
  frontend-extension/package.json
  frontend-extension/public/assets/docroadmap.png
  frontend-extension/public/assets/id_roadmap.png
  frontend-extension/public/assets/moving_roadmap.png
  frontend-extension/public/assets/passport_roadmap.png
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/Connexion/registerConfirmation/registerConfirmation.tsx
  frontend-extension/src/(site)/DocRoadMap/chatbotDonna/chatbot.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.css
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.css
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.css
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.tsx
  frontend-extension/src/(site)/Settings/Menu/settingsMenu.tsx
  frontend-extension/src/(site)/Settings/profile/profile.tsx
  frontend-extension/src/Home.tsx
  frontend-extension/tsconfig.json
  frontend-extension/webpack.config.js
  ia/.gitignore
  ia/Dockerfile
  ia/__init__.py
  ia/api_ia.py
  ia/installation/install.sh
  ia/installation/test.py
  ia/rag/__init__.py
  ia/rag/embedding.py
  ia/rag/rag.py
  ia/request.py
  ia/requirements.txt
  web-scrapper/.gitignore
  web-scrapper/Dockerfile
  web-scrapper/docker-compose.yml
  web-scrapper/main.py
  web-scrapper/no_tabs.py
  web-scrapper/output/acte_naissance/544ab2cfabc4b25bd2c0c5eb3d8eb96e.json
  web-scrapper/output/demenagement_en_france/66eb7be0caea1a81346c94f0d01f46cd.json
  web-scrapper/output/garde_enfants/887a0f71deacead27602b0f4bfa06f25.json
  web-scrapper/output/jachete_un_logel/3299eb5096745acd345d08536bb079bb.json
  web-scrapper/output/jachete_un_logement/3299eb5096745acd345d08536bb079bb.json
  web-scrapper/output/je_pars_de_chez_mes_parents/45ee2c15c56ee04dfd5bd8741600b146.json
  web-scrapper/output/recherche-emploi/d2254fe8573116b0fa682e750b2ce262.json
  web-scrapper/requirements.txt
  web-scrapper/utils.py
  web-scrapper/with_tabs.py
Labels: enhancement, Front End Extension, Feature, Improvement, IA

#127 Frontend mobile
  docker-compose.yml
  mobile/.gitignore
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/connexion.tsx
  mobile/app/(tabs)/home.tsx
  mobile/assets/images/docroadmap_logo.png
  mobile/components/card/CardDemarche.tsx
  mobile/components/chat/ChatInterface.tsx
  mobile/constants/Request.ts
  mobile/constants/Swagger.ts
  mobile/locales/fr/translation.json
Labels: enhancement, Front End Mobile, Improvement, IA

#128 Pull request from Frontend extension branch into Dev branch
  frontend-extension/public/assets/born_roadmap.png
  frontend-extension/public/assets/buy_roadmap.png
  frontend-extension/public/assets/find_job_roadmap.png
  frontend-extension/public/assets/keep_children.png
  frontend-extension/public/assets/move_from_parents_roadmap.png
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/chatbotRoadmapCreation.css
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/chatbotRoadmapCreation.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.css
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.tsx
  frontend-extension/src/App.tsx
Labels: Front End Extension, Feature, Improvement, IA, VM

#131 Pull Request for merging the Beta-Test-plan into the main branch
  Beta-test-plan.md
Labels: documentation
