Repository DocRoadMap-Team/DocRoadMap, pull requests merged in 2025-05, with the labels that each got.

#133 Pull Request from Extension new branch into Frontend-extension branch
  backend/package.json
  frontend-extension/.babelrc
  frontend-extension/.gitignore
  frontend-extension/.prettierignore
  frontend-extension/.prettierrc.json
  frontend-extension/README.md
  frontend-extension/content.js
  frontend-extension/dockerfile
  frontend-extension/eslint.config.js
  frontend-extension/index.html
  frontend-extension/manifest.json
  frontend-extension/newtab.html
  frontend-extension/package-lock.json
  frontend-extension/package.json
  frontend-extension/public/background.js
  frontend-extension/public/icon128.png
  frontend-extension/public/index.html
  frontend-extension/public/manifest.json
  frontend-extension/public/vite.svg
  frontend-extension/src/(site)/Connexion/login/login.css
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.css
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/Connexion/registerConfirmation/registerConfirmation.tsx
  frontend-extension/src/(site)/DocRoadMap/chatbotDonna/chatbot.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.css
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.tsx
  frontend-extension/src/(site)/Settings/Menu/settingsMenu.css
  frontend-extension/src/(site)/Settings/Menu/settingsMenu.tsx
  frontend-extension/src/(site)/Settings/profile/profile.css
  frontend-extension/src/(site)/Settings/profile/profile.tsx
  frontend-extension/src/(site)/accessibility/accessibility_button.tsx
  frontend-extension/src/App.tsx
  frontend-extension/src/Home.tsx
  frontend-extension/src/content/InjectedComponent.tsx
  frontend-extension/src/content/accessibility-button.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/content/content.tsx
  frontend-extension/src/index.css
  frontend-extension/src/index.tsx
  frontend-extension/src/logo.svg
  frontend-extension/src/main.tsx
  frontend-extension/src/react-app-env.d.ts
  frontend-extension/src/reportWebVitals.ts
  frontend-extension/src/setupTests.ts
  frontend-extension/src/vite-env.d.ts
  frontend-extension/tsconfig.app.json
  frontend-extension/tsconfig.json
  frontend-extension/tsconfig.node.json
  frontend-extension/vite.config.ts
  frontend-extension/webpack.config.js
  mobile/package.json
Labels: duplicate, enhancement, help wanted, Front End Extension, Feature

#151 Remove the capacity to update the user information
  frontend-extension/src/(site)/DocRoadMap/profile/profile.css
  frontend-extension/src/(site)/DocRoadMap/profile/profile.tsx
Labels: Front End Extension

#160 Pull request from Feat/extension/language implementation into Frontend-extension branch
  .github/workflows/ci-formating-extension.yaml
  frontend-extension/__mocks__/react-i18next.ts
  frontend-extension/package.json
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/Connexion/registerConfirmation/registerConfirmation.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.tsx
  frontend-extension/src/App.tsx
  frontend-extension/src/Home.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.tsx
  frontend-extension/src/content/components/ViewRoadmap/RoadmapView.spec.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/i18n.ts
  frontend-extension/src/locales/en/translation.json
  frontend-extension/src/locales/es/translation.json
  frontend-extension/src/locales/fr/translation.json
  frontend-extension/src/main.tsx
Labels: enhancement, help wanted, Front End Extension, Feature

#162 Pull Request from Feat/extension/unit test branch into frontend-extension branch
  .github/workflows/frontend-extension-test.yaml
  frontend-extension/jest.setup.ts
  frontend-extension/src/(site)/Connexion/login/Login.test.tsx
  frontend-extension/src/(site)/Connexion/register/register.test.tsx
  frontend-extension/src/(site)/Connexion/registerConfirmation/registerConfirmation.test.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.test.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.test.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.test.tsx
  frontend-extension/src/Home.test.tsx
  frontend-extension/src/Home.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.test.tsx
  frontend-extension/src/content/components/ViewRoadmap/RoadmapView.spec.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
Labels: Testing

#167 merge from feat/extension/Add-calendar into frontend-extension
  frontend-extension/eslint.config.js
  frontend-extension/index.html
  frontend-extension/newtab.html
  frontend-extension/package.json
  frontend-extension/src/(site)/Connexion/login/Login.test.tsx
  frontend-extension/src/(site)/Connexion/login/login.css
  frontend-extension/src/(site)/Connexion/register/register.css
  frontend-extension/src/(site)/Connexion/register/register.test.tsx
  frontend-extension/src/(site)/Connexion/registerConfirmation/registerConfirmation.test.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.test.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.css
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.test.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.css
  frontend-extension/src/(site)/DocRoadMap/profile/profile.test.tsx
  frontend-extension/src/Home.test.tsx
  frontend-extension/src/content/InjectedComponent.tsx
  frontend-extension/src/content/components/Calendar/calendar.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.test.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.tsx
  frontend-extension/src/content/components/ViewRoadmap/RoadmapView.spec.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/content/content.tsx
  frontend-extension/src/content/utils/utils.tsx
  frontend-extension/src/index.css
  frontend-extension/src/locales/en/translation.json
  frontend-extension/src/locales/es/translation.json
  frontend-extension/src/locales/fr/translation.json
  frontend-extension/src/main.tsx
Labels: Front End Extension, Feature

#166 Pull Request from frontend extension into
  .github/workflows/ci-formating-extension.yaml
  .github/workflows/ci-test-extension.yaml
  .github/workflows/frontend-extension-test.yaml
  frontend-extension/.gitignore
  frontend-extension/__mocks__/react-i18next.ts
  frontend-extension/eslint.config.js
  frontend-extension/index.html
  frontend-extension/jest.config.js
  frontend-extension/jest.setup.ts
  frontend-extension/newtab.html
  frontend-extension/package-lock.json
  frontend-extension/package.json
  frontend-extension/public/manifest.json
  frontend-extension/src/(site)/Connexion/login/Login.test.tsx
  frontend-extension/src/(site)/Connexion/login/login.css
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.css
  frontend-extension/src/(site)/Connexion/register/register.test.tsx
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/Connexion/registerConfirmation/registerConfirmation.test.tsx
  frontend-extension/src/(site)/Connexion/registerConfirmation/registerConfirmation.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.test.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/LanguageSelector.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.css
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.test.tsx
  frontend-extension/src/(site)/DocRoadMap/docroadmapHome/docroadmapHome.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.css
  frontend-extension/src/(site)/DocRoadMap/profile/profile.test.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.tsx
  frontend-extension/src/App.tsx
  frontend-extension/src/Home.test.tsx
  frontend-extension/src/Home.tsx
  frontend-extension/src/content/InjectedComponent.tsx
  frontend-extension/src/content/components/Calendar/calendar.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.test.tsx
  frontend-extension/src/content/components/Chatbot/chatbot.tsx
  frontend-extension/src/content/components/ViewRoadmap/RoadmapView.spec.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/content/content.tsx
  frontend-extension/src/content/utils/utils.tsx
  frontend-extension/src/i18n.ts
  frontend-extension/src/index.css
  frontend-extension/src/locales/en/translation.json
  frontend-extension/src/locales/es/translation.json
  frontend-extension/src/locales/fr/translation.json
  frontend-extension/src/main.tsx
  frontend-extension/tsconfig.test.json
Labels: documentation, enhancement, Front End Extension, Feature, Improvement, IA

#172 Merge documentation to front end mobile
  Beta-test-plan.md
  backend/src/ai_history/ai_history.service.ts
  frontend-extension/public/assets/born_roadmap.png
  frontend-extension/public/assets/buy_roadmap.png
  frontend-extension/public/assets/find_job_roadmap.png
  frontend-extension/public/assets/keep_children.png
  frontend-extension/public/assets/move_from_parents_roadmap.png
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/chatbotRoadmapCreation.css
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/chatbotRoadmapCreation.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.css
  frontend-extension/src/(site)/DocRoadMap/roadmapCreation/roadmapCreation.tsx
  frontend-extension/src/(site)/DocRoadMap/roadmapView/roadmapView.tsx
  frontend-extension/src/App.tsx
  mobile/Mobile.md
Labels: enhancement, Feature

#175 Frontend extension
  frontend-extension/src/(site)/Connexion/login/login.tsx
  frontend-extension/src/(site)/Connexion/register/register.tsx
  frontend-extension/src/(site)/DocRoadMap/profile/profile.tsx
  frontend-extension/src/content/components/Calendar/calendar.tsx
  frontend-extension/src/content/components/ViewRoadmap/roadmapView.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.test.tsx
  frontend-extension/src/content/components/roadmapCreation/roadmapCreation.tsx
Labels: Front End Extension
